

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}"/>


<div class="center-column">
    <h3>Are you sure you want to delete "{{item}}?"</h3>
    <div class="container">

<a href="{% url 'list' %}" class="btn btn-info" id="button1">Cancel</a>

<form method="POST" action="">
    {% csrf_token %}
    <input class="btn btn-danger" id="button2" type="submit" value="Confirm">
</form>
</div>
</div>

